snippet ghead
	ifdef::env-github[]
	:tip-caption: :bulb:
	:note-caption: :information_source:
	:important-caption: :heavy_exclamation_mark:
	:caution-caption: :fire:
	:warning-caption: :warning:
	endif::[]
snippet :pr:
	$0

	# Context

	$1

	# Changes

	$2

	# QA Notes

	$3
